numpy
pandas==2.2.2
scipy
scikit-learn==1.6.0
sentencepiece==0.2.0
tokenizers==0.21.0
numexpr==2.10.2
transformers==4.47.1
attrs==19.3.0
bs4==0.0.1
jsonnet==0.15.0
lxml==4.9.1
datasets==1.1.2
nltk>=3.8.1
python-Levenshtein==0.12.0
sacremoses==0.0.43
seqeval==0.0.12
tqdm==4.42.1
ml_dtypes